.instructions .quill .ql-toolbar{
    position: absolute;
    top: 32px;
    right: 32px;
    border: none;
    background-color: var(--light-grey, #EAEAEA);
    border-radius:32px;
}

.instructions .quill .ql-container{
    margin-top:40px;
    border: none;
}
.instructions .quill .ql-container .ql-editor{
    padding: 0px; 
    min-height: 135px;
}

.instructions-exam .MuiTabs-flexContainer {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}
.instructions-exam span{
    display: none;

}
.css-1u2wfj3-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #FFF !important;
}
.css-15pxztp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
}





/* css for froala-editor  */
.math-editor .fr-toolbar {
    position: absolute;
    right: 0px;
    top: 6px !important;
}
.math-editor .fr-wrapper {
    border: none !important;
}
.math-editor .fr-element {
    padding: 11px 27px;
    border-radius: 12px;
    background: rgb(239, 243, 244);
    width: 100%;
    border: none;
    color: rgb(112, 112, 112);
    font-size: 18px;
}
.math-editor .fr-element.fr-view {
    padding-right: 100px;
}
